<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">
    <parameter name="baseURL" value="https://bbb.testpro.io/" />
    <test name="Example Tests" preserve-order="false">
        <parameter name="baseURL" value="https://bbb.testpro.io/" />
        <classes>
            <class name="LoginTests"/>
            <class name="BaseTest"/>
            <class name="SongsTests"/>
            <class name="CSVDataProviderTest"/>
            <class name="PlaylistTest"/>
            <class name="POM.AllSongsPage"/>
            <class name="POM.BasePage"/>
            <class name="POM.HomePage"/>
            <class name="POM.LoginPage"/>
            <class name="POM.ProfilePrefPage"/>
            <class name="POM.PlaylistPage"/>
            <class name="POM.ProfilePrefPage"/>
            <class name="POM.RegistrationPage"/>
        </classes>
    </test>
</suite>