<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" >
    <parameter name="baseURL" value="https://bbb.testpro.io/" />
    <test name="Example Tests" preserve-order="false">
        <parameter name="baseURL" value="https://bbb.testpro.io/" />
        <classes>
            <class name="SongsTests"/>
            <class name="ActionsTests"/>
<!--            <class name="CSVDataProviderTest"/>-->
<!--            <class name="pageObject.LoginPage"/>-->
<!--            <class name="pageObject.HomePage"/>-->
<!--            <class name="pageObject.BasePage"/>-->
<!--            <class name="pageObject.AllSongsPage"/>-->
<!--            <class name="pageObject.PlaylistPage"/>-->
        </classes>
    </test>
</suite>


<!--<class name="LoginTests"/>-->
<!--<class name="BaseTest"/>-->